@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
:root {
  --black: #0B0D17;
  --blue: #D0D6F9;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid var(--white) !important;
}

#logo {
  aspect-ratio: 1;
}

html {
  font-family: Bellefair, sans-serif;
  color: var(--white);
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-family: "Barlow Condensed";
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 4.75px;
}

input {
  cursor: pointer;
}

.nav-txt {
  font-family: "Barlow Condensed";
  letter-spacing: 2.7px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
}
.nav-txt li {
  margin-left: 1.7rem;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s;
}
.nav-txt li:hover {
  border-bottom: 3px solid #979797;
}

.sub-h1 {
  font-size: 1.5rem;
}

.sub-h2 {
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  letter-spacing: 2.35px;
  line-height: 2rem;
}

.main-btn {
  font-family: "Bellefair";
  display: block;
  padding: 7.5rem 4rem;
  letter-spacing: 2px;
  font-size: 2rem;
  border-radius: 50%;
  text-transform: uppercase;
  transition: box-shadow 0.2s;
}
.main-btn:hover {
  box-shadow: 0 0 0 5.5rem hsla(0, 0%, 59%, 0.5);
}

header {
  margin-top: 2.5rem;
  margin-left: 3.45rem;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header img {
  max-width: 100%;
}
header nav {
  padding-left: 5rem;
  -webkit-backdrop-filter: blur(82px);
          backdrop-filter: blur(82px);
}
header nav ul {
  gap: 3rem;
  margin-right: 10rem;
}
header nav ul li {
  margin-inline: 1.5rem;
  text-transform: uppercase;
}
header nav ul li a {
  display: block;
  padding-block: 2.438rem;
  width: -moz-max-content;
  width: max-content;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #979797;
  transform: translate(3rem);
  z-index: 10;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 8rem;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 10rem;
}
main .left-sec {
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .right-sec {
  display: grid;
  place-items: end;
}

#dist-trav-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
}

#dest-menu li {
  padding-block: 0.75rem;
}

.page-title {
  position: absolute;
  top: 13.25rem;
  left: 10rem;
}

#home {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
}
#home h5 {
  color: var(--blue);
}

#dest {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}
#dest main {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  place-items: center;
  justify-content: space-evenly;
}
#dest .left-sec {
  grid-row: 2/3;
}
#dest .right-sec {
  grid-row: 2/3;
  grid-column: 2/3;
  place-items: start;
  height: 30rem;
}
#dest .sub-h2 {
  color: var(--blue);
}

#crew {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  padding-bottom: 0;
  overflow: hidden;
}
#crew main {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 2fr 0.25fr;
  height: 80vh;
}
#crew main img {
  grid-row: 1/3;
  grid-column: 2/3;
  height: 100%;
}
#crew main .nav-txt {
  grid-row: 2/3;
}
#crew main .nav-txt li {
  border: none !important;
}
#crew main .nav-txt li input {
  opacity: 0.5;
  accent-color: transparent;
  width: 2rem;
  height: 2rem;
}
#crew main .nav-txt li input:checked {
  opacity: 1;
}
#crew main .nav-txt li input:hover {
  opacity: 0.75;
}
#crew .left-sec {
  width: max(30rem, 50vw);
  justify-content: center;
  grid-row: 1/2;
}

#technology {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
}
#technology .radio-cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#technology .radio-cont .for_radio {
  width: 5rem;
  height: 5rem;
  background-color: var(--black);
  color: var(--white);
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: grid;
  place-items: center;
}
#technology .radio-cont input[type=radio] {
  position: absolute;
  visibility: hidden;
}
#technology .radio-cont input[type=radio]:checked + label {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--white);
}
#technology main {
  padding-right: 0;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  gap: 5rem;
}
#technology main .left-sec {
  flex-shrink: 0;
  width: 30rem;
}
#technology main img {
  max-width: 100%;
}/*# sourceMappingURL=basic.css.map */