@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

:root {
    --black: #0B0D17;
    --blue: #D0D6F9;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid var(--white) !important;
}

#logo {
    aspect-ratio: 1;
}

html {
    font-family: Bellefair, sans-serif;
    color: var(--white);
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}
h1 {
    font-size: 9.375rem
}
h2 {
    font-size: 6.25rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-family: "Barlow Condensed";
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 4.75px;
}
.nav-txt {
    font-family: "Barlow Condensed";
    letter-spacing: 2.7px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    li {
        margin-left: 1.7rem;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.2s;
        &:hover {
            border-bottom: 3px solid #979797;
        }
    }
}
.sub-h1 {
    font-size: 1.5rem;
}
.sub-h2 {
    font-family: "Barlow Condensed";
    font-size: 0.875rem;
    letter-spacing: 2.35px;
    line-height: 2rem;
}
.main-btn {
    font-family: "Bellefair";
    display: block;
    padding: 7.5rem 4rem;
    letter-spacing: 2px;
    font-size: 2rem;
    border-radius: 50%;
    text-transform: uppercase;
    transition: box-shadow 0.2s;
    &:hover {
        box-shadow: 0 0 0 5.5rem hsla(0, 0%, 59%, 0.5);
    }
}
header {
    margin-top: 2.5rem;
    margin-left: 3.45rem;
    z-index: 9;

    //displaying
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    img {
        max-width: 100%;
    }
    nav {
        
        //visaluzing
        padding-left: 5rem;
        backdrop-filter: blur(82px);
        ul {
            gap: 3rem;
            margin-right: 10rem;
            li {
                margin-inline: 1.5rem;
                text-transform: uppercase;
                
                a {
                    display: block;
                    padding-block: 2.438rem;
                    width: max-content;
                }
            }
        }
    }
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #979797;
    transform: translate(3rem);
    z-index: 10;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 8rem;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 10rem;
    .left-sec {
        width: min-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .right-sec {
        display: grid;
        place-items: end;
    }
}

#dist-trav-info {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
}

#dest-menu {
    li {
        padding-block: 0.75rem;
    }
}




// backgrounds

#home {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    h5 {
        color: var(--blue);
    }
}

#dest {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        justify-content: space-evenly;
    }
    .right-sec {
        place-items: start;
        height: 30rem;
    }
    .sub-h2 {
        color: var(--blue);
    }
}

.page-title {
    position: absolute;
    top: 13.25rem;
    left: 10rem;
}

#crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    padding-bottom: 0;
    .left-sec {
        width: max(20rem, 40vw);
        justify-content: center;
        .nav-txt {
            li {
                border: none !important;
                input {
                    opacity: 0.5;
                    accent-color: transparent;
                    &:checked {
                        opacity: 1;
                    }
                }
            }
        }
    }
}